.App {
  text-align: center;
}
/*
body {
  background: rgb(34,193,195);
background: linear-gradient(247deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}*/

body {
  background: #020887
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
